<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.integration.dao.YhswpcZsgpMapper" >
  <resultMap id="BaseResultMap" type="com.integration.entity.YhswpcZsgp" >
    <result column="UUID_ZSGP" property="uuidZsgp" jdbcType="VARCHAR" />
    <result column="SHENG" property="sheng" jdbcType="VARCHAR" />
    <result column="SHI" property="shi" jdbcType="VARCHAR" />
    <result column="XIAN" property="xian" jdbcType="VARCHAR" />
    <result column="XIAN_MC" property="xianMc" jdbcType="VARCHAR" />
    <result column="XIANG" property="xiang" jdbcType="VARCHAR" />
    <result column="XIANG_MC" property="xiangMc" jdbcType="VARCHAR" />
    <result column="CHANGS_MC" property="changsMc" jdbcType="VARCHAR" />
    <result column="KU_CUN" property="kuCun" jdbcType="INTEGER" />
    <result column="CHOUY_SL" property="chouySl" jdbcType="INTEGER" />
    <result column="CHANGS_JD" property="changsJd" jdbcType="VARCHAR" />
    <result column="CHANGS_WD" property="changsWd" jdbcType="VARCHAR" />
    <result column="CHANGS_HB" property="changsHb" jdbcType="REAL" />
    <result column="DIAOCHA_RY" property="diaochaRy" jdbcType="VARCHAR" />
    <result column="DIAOCHA_SJ" property="diaochaSj" jdbcType="DATE" />
    <result column="LAST_CHANGETIME" property="lastChangetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.integration.entity.YhswpcZsgp" >
    insert into YHSWPC_ZSGP (UUID_ZSGP, SHENG, SHI, 
      XIAN, XIAN_MC, XIANG, 
      XIANG_MC, CHANGS_MC, KU_CUN, 
      CHOUY_SL, CHANGS_JD, CHANGS_WD, 
      CHANGS_HB, DIAOCHA_RY, DIAOCHA_SJ, 
      LAST_CHANGETIME)
    values (#{uuidZsgp,jdbcType=VARCHAR}, #{sheng,jdbcType=VARCHAR}, #{shi,jdbcType=VARCHAR}, 
      #{xian,jdbcType=VARCHAR}, #{xianMc,jdbcType=VARCHAR}, #{xiang,jdbcType=VARCHAR}, 
      #{xiangMc,jdbcType=VARCHAR}, #{changsMc,jdbcType=VARCHAR}, #{kuCun,jdbcType=INTEGER}, 
      #{chouySl,jdbcType=INTEGER}, #{changsJd,jdbcType=VARCHAR}, #{changsWd,jdbcType=VARCHAR}, 
      #{changsHb,jdbcType=REAL}, #{diaochaRy,jdbcType=VARCHAR}, #{diaochaSj,jdbcType=DATE}, 
      #{lastChangetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.integration.entity.YhswpcZsgp" >
    insert into YHSWPC_ZSGP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuidZsgp != null" >
        UUID_ZSGP,
      </if>
      <if test="sheng != null" >
        SHENG,
      </if>
      <if test="shi != null" >
        SHI,
      </if>
      <if test="xian != null" >
        XIAN,
      </if>
      <if test="xianMc != null" >
        XIAN_MC,
      </if>
      <if test="xiang != null" >
        XIANG,
      </if>
      <if test="xiangMc != null" >
        XIANG_MC,
      </if>
      <if test="changsMc != null" >
        CHANGS_MC,
      </if>
      <if test="kuCun != null" >
        KU_CUN,
      </if>
      <if test="chouySl != null" >
        CHOUY_SL,
      </if>
      <if test="changsJd != null" >
        CHANGS_JD,
      </if>
      <if test="changsWd != null" >
        CHANGS_WD,
      </if>
      <if test="changsHb != null" >
        CHANGS_HB,
      </if>
      <if test="diaochaRy != null" >
        DIAOCHA_RY,
      </if>
      <if test="diaochaSj != null" >
        DIAOCHA_SJ,
      </if>
      <if test="lastChangetime != null" >
        LAST_CHANGETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuidZsgp != null" >
        #{uuidZsgp,jdbcType=VARCHAR},
      </if>
      <if test="sheng != null" >
        #{sheng,jdbcType=VARCHAR},
      </if>
      <if test="shi != null" >
        #{shi,jdbcType=VARCHAR},
      </if>
      <if test="xian != null" >
        #{xian,jdbcType=VARCHAR},
      </if>
      <if test="xianMc != null" >
        #{xianMc,jdbcType=VARCHAR},
      </if>
      <if test="xiang != null" >
        #{xiang,jdbcType=VARCHAR},
      </if>
      <if test="xiangMc != null" >
        #{xiangMc,jdbcType=VARCHAR},
      </if>
      <if test="changsMc != null" >
        #{changsMc,jdbcType=VARCHAR},
      </if>
      <if test="kuCun != null" >
        #{kuCun,jdbcType=INTEGER},
      </if>
      <if test="chouySl != null" >
        #{chouySl,jdbcType=INTEGER},
      </if>
      <if test="changsJd != null" >
        #{changsJd,jdbcType=VARCHAR},
      </if>
      <if test="changsWd != null" >
        #{changsWd,jdbcType=VARCHAR},
      </if>
      <if test="changsHb != null" >
        #{changsHb,jdbcType=REAL},
      </if>
      <if test="diaochaRy != null" >
        #{diaochaRy,jdbcType=VARCHAR},
      </if>
      <if test="diaochaSj != null" >
        #{diaochaSj,jdbcType=DATE},
      </if>
      <if test="lastChangetime != null" >
        #{lastChangetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>